
    <link rel="stylesheet" href="/static/style.css">
    <h2>Formulir Pendaftaran</h2>
    <form method="post">
        Matematika: <input type="number" name="matematika"><br>
        IPA: <input type="number" name="ipa"><br>
        IPS: <input type="number" name="ips"><br>
        Bahasa Indonesia: <input type="number" name="bindo"><br>
        Jarak ke sekolah (km): <input type="number" name="jarak" step="0.1"><br>
        <input type="submit" value="Daftar">
    </form>
    
    {% if error %}
  <p style="color: red;">{{ error }}</p>
{% endif %}