
    <link rel="stylesheet" href="/static/style.css">
    <h2>Simulasi Nilai</h2>
    <form method="post">
        Matematika: <input type="number" name="matematika"><br>
        IPA: <input type="number" name="ipa"><br>
        IPS: <input type="number" name="ips"><br>
        Bahasa Indonesia: <input type="number" name="bindo"><br>
        <input type="submit" value="Lihat Hasil Simulasi">
    </form>
    {% if hasil %}
    <p>Hasil Simulasi: <strong>{{ hasil }}</strong></p>
    {% endif %}
    <h3>Histori Simulasi:</h3>
    <ul>
        {% for h in histori %}
        <li>Rata-rata: {{ (h['matematika'] + h['ipa'] + h['ips'] + h['bindo']) / 4 }} - {{ h['hasil'] }}</li>
        {% endfor %}
    </ul>

    {% if error %}
  <p style="color: red;">{{ error }}</p>
{% endif %}

    